<header class="dainiki-header">
    <a href="{% url 'home' %}" class="brand">
        Dainiki
    </a>
    <nav class="menu">
        <a href="#" class="link">Sports</a>
        <a href="#" class="link">Internatinal</a>
        <a href="#" class="link">Literature</a>
        <a href="#" class="link">Miscellaneous</a>
        <a href="#" class="link">Blog</a>
    </nav>
    <div class="end">
        <form action="">
            <input type="search" name="search" id="search" placeholder="Search">
            <button class="btn search-btn">Search</button>
        </form>
        <i class="fa fa-search" style="font-size:28px; color: rgb(238, 238, 238);" onclick="show_search()"></i>
        <button class="btn signup">Sign Up</button>
        <button class="btn signin">Sign In</button>
        <div class="menu-icon" onclick="show_nav()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </div>
  
</header>